@charset "shift_jis";

input.ng-invalid{
	background-color:#ffeeee;
}

select.ng-invalid{
	background-color:#ffeeee;
}


ul.loginForm {
    list-style: none;
    width: 400px;
    margin: 0 auto;
	margin-bottom: 30px;
}
li.loginForm {
    list-style: none;
	margin-bottom: 20px;
}
label.loginForm {
    margin-right: 10px;
    width:100px;
    float: left;
}

.currency {
    text-align: right;
}

.kakei-keyVisual{
    padding-top: 40px;
    height: 150px;
    background: url('../img/title.jpg') center 0 no-repeat;
    background-size: cover;
}
.kakei-keyVisual .btn-group {
    margin-top: 30px;
}
.kakei-keyVisual .btn-group .btn{
    margin-left: 1px;
}
.kakei-keyVisual .user-name {
    margin-top: 0px;
    margin-bottom: 5px;
}
@media(min-width:768px) {
    .kakei-keyVisual {
        padding-top: 170px;
        height: 300px;
    }
    .kakei-keyVisual .btn-group{
        margin-top: 40px;
    }
}
.kakei-footer {
    background-color: #2a90e1;"
}
.mb10{
    margin-bottom: 10px;
}
.hide{
    display: none;
}